body {
  height: 100%;
  background: url('../images/AAGunShot2.PNG') rgba(96, 121, 159, 0.2);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  background-attachment: fixed;
  font: 400 1em/1.38 Oswald;
  color: rgb(0, 0, 0);
}

.text {
  margin-right: auto;
  margin-left: auto;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
  width: 15.1666666666%;
  min-height: 61px;
  margin-top: 210px;
  font-size: 2em;
  text-align: center;
}

.text-2 {
  width: 27.2%;
  min-height: 97px;
  margin-top: 47px;
  background-color: rgba(255, 255, 255, 0.36);
  font-size: 1em;
}

._button-1 {
  width: 13.6%;
  height: 38px;
  margin-top: 15px;
}

._button-2 {
  width: 7.3333333333%;
  height: 24px;
  margin-top: 33px;
}