body {
  height: 100%;
  background: url('../images/CCBackDrop.png') rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font: 400 1em/1.38 Oswald;
  color: rgb(255, 255, 255);
}

div p {
  margin-bottom: 1em;
}

.container {
  float: left;
  clear: both;
  width: 69.5%;
  height: 1px;
  margin: 204px 0 0 16%;
  background-color: rgba(4, 0, 0, 0);
}

.container .text {
  float: left;
  width: 94.1964285714%;
  min-height: 231px;
  margin: -177px 0 0 2.81962%;
  background-color: rgba(0, 0, 0, 0.93);
  font-size: 1em;
}

.text {
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  float: left;
  clear: both;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
  width: 34.6666666666%;
  min-height: 60px;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}

.container ._button-1 {
  width: 19.6642685851%;
  height: 31px;
  margin: 112px 0 0 39.13557%;
  background: url('../images/kickstarter-logo-light.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container ._button-2 {
  width: 19.6642685851%;
  height: 59px;
  margin-left: 39.13557%;
  background: url('../images/GooglePlayIcon.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container ._button-3 {
  width: 17.2661870503%;
  height: 27px;
  margin-left: 40.28777%;
  background-color: rgb(222, 222, 222);
}