body {
  height: 100%;
  background: url('../images/CCBackDrop.png') rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font: 400 1.125em/1.38 Oswald;
  color: rgb(255, 255, 255);
}

.container {
  float: left;
  clear: both;
  width: 56%;
  height: 161px;
  margin: 317px 0 0 22.7994791666%;
}

.container .text {
  float: left;
  width: 91.9642857142%;
  height: 111px;
  min-height: 50px;
  margin: -235px 0 0 2.5902157738%;
  background-color: rgba(0, 0, 0, 0.59);
  font-size: 1em;
  text-align: justify;
}

.text {
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  position: relative;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 0.889em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
  width: 34.6666666666%;
  min-height: 60px;
  margin: 0 auto;
  font-size: 1.778em;
  text-align: center;
}

.container ._button-1 {
  float: left;
  z-index: 2;
  width: 15.3865792944%;
  height: 36px;
  margin: -308px 0 0 2.59022%;
}

.container ._button-2 {
  float: right;
  z-index: 3;
  width: 15.9226190476%;
  height: 36px;
  margin: -313px 43.42448% 0 0;
}

.container ._button-3 {
  float: left;
  clear: both;
  z-index: 4;
  width: 10.863095238%;
  height: 27px;
  margin: -299px 0 0 85.00047%;
}