body {
  background-color: rgb(0, 0, 0);
  font: 400 1em/1.38 Oswald;
  color: rgb(255, 249, 249);
}

.container {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 20.4005208333%;
  height: 224px;
  margin: 43px 0 0 39.46615%;
}

.container .text {
  float: left;
  width: 100.0829769579%;
  min-height: 224px;
  margin: -1px 0 0 -0.08298%;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  position: relative;
  float: left;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
  width: 34.6666666666%;
  min-height: 60px;
  margin: 27px auto 0;
  font-size: 2em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-2 {
  float: left;
  clear: both;
  width: 54.4%;
  min-height: 220px;
  margin-left: 22.79948%;
  font-size: 1em;
  color: rgb(255, 249, 249);
}

.text-3 {
  width: 34.6666666666%;
  min-height: 60px;
  margin: 225px auto 0;
  font-size: 2em;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button-1 {
  clear: both;
  z-index: 1;
  width: 9.75%;
  height: 109px;
  margin-left: 35.58203%;
  background-image: url('../images/CCIcon.png');
  font-family: Arial;
}

._button-2 {
  z-index: 2;
  width: 9.8333333333%;
  height: 109px;
  margin-left: 7.63411%;
  background-image: url('../images/PterodactylIcon.png');
  background-color: rgba(222, 222, 222, 0);
  font-family: Arial;
}

._button-3 {
  clear: both;
  z-index: 7;
  width: 3.8333333333%;
  height: 46px;
  margin: -168px 0 0 48.07943%;
  background-image: url('../images/LinkedIn_logo_initials.png');
  background-color: rgba(222, 222, 222, 0);
}

._button-4 {
  z-index: 8;
  width: 13.5984375%;
  height: 34px;
  margin: -107px 0 0 43.1992199999%;
  background-image: url('../images/AngelListIcon.png');
  background-color: rgba(222, 222, 222, 0);
}

._button-5 {
  z-index: 9;
  width: 13.6%;
  height: 35px;
  margin: -55px 0 0 43.1992199999%;
  background-image: url('../images/upwork_logo_detail.png');
  background-color: rgba(222, 222, 222, 0);
}