body {
  background-color: rgb(0, 0, 0);
  font: 400 1.25em/1.38 Oswald;
  color: rgb(255, 255, 255);
}

.container {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 54.3333333333%;
  height: 224px;
  margin: 8px 0 0 22.79948%;
}

.container .text {
  float: left;
  width: 100.0829769579%;
  min-height: 224px;
  margin-left: -0.15337%;
  font-family: Arial;
  font-size: 0.8em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0.8em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
  width: 34.6666666666%;
  min-height: 60px;
  margin: 27px auto 0;
  font-family: Arial;
  font-size: 1.6em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 3;
  width: 54.4%;
  min-height: 220px;
  margin-left: 22.79948%;
  font-family: Arial;
  font-size: 0.8em;
  color: rgb(255, 249, 249);
}

.text-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 34.6666666666%;
  min-height: 60px;
  margin: -108px 0 0 32.25%;
  font-size: 1.6em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 9;
  width: 34.6666666666%;
  min-height: 60px;
  margin: 93px 0 0 32.66667%;
  font-size: 1.6em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 34.6666666666%;
  min-height: 60px;
  margin: -9px 0 0 32.6666666666%;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-6 {
  float: left;
  clear: both;
  width: 34.6666666666%;
  min-height: 60px;
  margin: 84px 0 0 32.66667%;
  font-size: 1.6em;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button-1 {
  position: relative;
  z-index: 2;
  width: 12%;
  min-width: 100px;
  height: 109px;
  min-height: 100px;
  margin: -53px 0 0 44%;
  background-image: url('../images/PterodactylIcon.png');
  background-color: rgba(222, 222, 222, 0);
  font-family: Arial;
}

._button-2 {
  clear: both;
  width: 12%;
  min-width: 100px;
  height: 109px;
  min-height: 100px;
  margin: 22px 0 0 44%;
  background-image: url('../images/CCIcon.png');
  font-family: Arial;
}

._button-3 {
  position: relative;
  clear: both;
  z-index: 7;
  width: 40.8333333333%;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  margin: -184px 0 0 29.6%;
  background-image: url('../images/LinkedIn_logo_initials.png');
  background-color: rgba(222, 222, 222, 0);
}

._button-4 {
  position: relative;
  z-index: 8;
  width: 54.1666666666%;
  min-width: 125px;
  height: 34px;
  min-height: 34px;
  margin: -108px 0 0 22.79948%;
  background-image: url('../images/AngelListIcon.png');
  background-color: rgba(222, 222, 222, 0);
}