body {
  background-color: rgb(30, 35, 108);
  font: 400 1em/1.38 Oswald;
  color: rgb(255, 255, 255);
}

.element {
  float: left;
  clear: both;
  width: 27.1666666666%;
  height: 407px;
  margin: 20px 0 0 36.41667%;
  background: url('../images/PTScreenshot.png') rgb(30, 35, 108);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.text {
  float: left;
}

._button {
  display: block;
  float: left;
  clear: both;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
  width: 27.1666666666%;
  height: 49px;
  min-height: 104px;
  margin: 34px 0 0 36.41667%;
  font-size: 2em;
  text-align: center;
  color: rgb(250, 242, 242);
}

.text-2 {
  clear: both;
  width: 26.4166666666%;
  min-height: 168px;
  margin-left: 37.1992199999%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

._button-1 {
  width: 26.4166666666%;
  height: 46px;
  margin: 16px 0 0 37.16667%;
  background: url('../images/GooglePlayIcon.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

._button-2 {
  width: 12%;
  height: 24px;
  margin: 34px 0 0 44%;
  background-color: rgb(222, 222, 222);
}