body {
  background-color: rgb(30, 35, 108);
  font: 400 1em/1.38 Oswald;
  color: rgb(255, 255, 255);
}

.container {
  float: left;
}

.container .container {
  width: 339.9433427762%;
  height: 329px;
  margin-left: -120.95875%;
  background-color: rgb(17, 11, 82);
}

.element {
  float: left;
  clear: both;
  width: 68%;
  height: 564px;
  margin: 15px 0 0 16%;
  background: url('../images/PTScreenshot.png') rgb(30, 35, 108);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.text {
  float: left;
  min-height: 50px;
}

._button {
  display: block;
  float: left;
  clear: both;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.container-1 {
  width: 29.4166666666%;
  height: 318px;
  margin: 26px 0 0 35.5833299999%;
  background-color: rgba(17, 10, 81, 0.92);
}

.text-1 {
  width: 68.0399484368%;
  height: 50px;
  margin-left: 15.98979%;
  font-size: 2em;
  text-align: center;
  color: rgb(250, 242, 242);
}

.text-2 {
  clear: both;
  width: 39.5005143296%;
  margin: 60px 0 0 30.91707%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

._button-1 {
  width: 26.4166666666%;
  height: 46px;
  margin: 6px 0 0 37.1992199999%;
  background: url('../images/GooglePlayIcon.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

._button-2 {
  width: 12%;
  height: 24px;
  margin: 14px 0 0 44%;
  background-color: rgb(222, 222, 222);
}