body {
  height: 100%;
  background: none rgb(30, 35, 108);
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: center center;
  font: 400 1em/1.38 Oswald;
  color: rgb(255, 255, 255);
}

.element {
  position: relative;
  float: left;
  z-index: 4;
  width: 21.1666666666%;
  height: 387px;
  margin: -105px 0 0 39.41667%;
  background: url('../images/PterodactylShank.gif') rgb(30, 35, 108);
  background-repeat: no-repeat;
  background-size: 252.5px 389px;
  background-position: center center;
}

.text {
  position: relative;
  float: left;
}

._button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
  z-index: 1;
  width: 27.25%;
  min-height: 168px;
  margin: 124px 0 0 36.375%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-2 {
  clear: both;
  z-index: 0;
  width: 27.19921875%;
  min-height: 104px;
  margin: -258px 0 0 36.39974%;
  font-size: 2em;
  text-align: center;
  color: rgb(250, 242, 242);
}

._button-1 {
  width: 13.5989583333%;
  height: 46px;
  margin-top: 608px;
}

._button-2 {
  width: 7.4166666666%;
  height: 24px;
  margin-top: 40px;
}